body {
  font-family: sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.wiki-img {
  width: 100%;
}

.wiki-item {
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.wiki-content {
  padding: 10px;
}

.wiki-header {
  text-align: center;
}

@media screen and (min-width: 600px) {
  .wiki-content {
    display: flex;
    flex-direction: row-reverse;
  }

  .img-container {
    min-width: 50%;
    max-width: 50%;
  }

  .wiki-text {
    min-width: 50%;
    max-width: 50%;
  }
}
